.buttonWrapper{
  border: none;
  width: 100%;
  background-color: transparent;
  color: rgb(33, 43, 54);
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCardLabel{
  margin-left: 0.5rem;
}

.buttonWrapper:hover {
  background-color: rgba(145, 158, 171, 0.08)
}

.editingModeWrapper {
  margin: 0.7rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addButton {
  border: none;
  padding: 0.7rem 1.5rem;
  background-color: rgb(106, 106, 241);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.cancelButton {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: rgb(75, 75, 75);
}

.cancelButton:hover {
  color: black;
}

.hidden {
  display: none;
}

.addNewCardTextarea {
  box-sizing: border-box;
  padding: 0.7rem 0.5rem;
  resize: none;
  font-family: inherit;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  width: 100%;
  min-height: 60px;
}
.addNewCardTextarea:focus,
.addNewCardTextarea:active {
  outline: none;
  box-shadow: 0px 0px 3px 1px #f77f00;
}
