.descriptionWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
}
.descriptionHeaderWrapper {
  display: flex;
  flex: 1;
  align-items: center;
}
.descriptionFooterWrapper {
  display: flex;
  align-items: flex-start;
}
.descriptionEditModeWrapper {
  flex: 1;
  margin-top: 1rem;
}

.descriptionFooterWrapperPrefix {
  width: 30px;
  margin-right: 0.5rem;
  flex: "none";
}

.descriptionHeader {
  font-size: 1rem;
  font-weight: 600;
  color: #172b4d;
  padding-left: 0.5rem;
}

.descriptionIconWrapper {
  width: 30px;
  height: 30px;
  color: #172b4d;
}

.iconStyle {
  width: 20px;
  height: 20px;
}

.descriptionEditButton {
  margin-left: 1rem;
  border-radius: 3px;
  padding: 0.2rem 0.7rem;
}

.actualDescription {
  font-size: 0.8rem;
  margin: 0.7rem 0rem;
  overflow: hidden;
  overflow-wrap: break-word;
  flex: 1;
}

.descriptionTextarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  font-family: inherit;
}

.descriptionTextarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #0079bf;
}

.descriptionEditorActionsWrapper {
  display: flex;
  margin: 0.5rem 0rem;
}

.descriptionEditorSaveButton {
  border: none;
  background-color: #0079bf;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

.descriptionEditorCloseButton {
  border: none;
  background-color: transparent;
  margin-left: 1rem;
  color: rgb(71, 71, 71);
}
.descriptionEditorCloseButton:hover {
  color: #172b4d;
}

.lightTextClass {
  color: #5e6c84;
}

.modalButton {
  background-color: #091e420a;
  border: none;
}

.modalButton:hover,
.modalButton:active {
  background-color: rgba(0, 0, 0, 0.116);
}

.centerInsideContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
