.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 3rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  flex-grow: 1;
}

.childStyles {
  margin-left: 0;
  margin-right: 1.5rem;
}
