.activityWrapper {
  display: flex;
  flex-direction: column;
}

.activityHeaderWrapper {
  display: flex;
  width: 100%;
  align-items: center;
}
.activityHeader {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #172b4d;
}
.iconWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconStyle {
  width: 20px;
  height: 20px;
}
.centerInsideContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityItemWrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: 1.2rem;
}

.activityItemImagePlaceholder {
  border-radius: 50%;
  background-color: green;
  color: white;
  flex: "none";
  height: 30px;
  width: 30px;
}

.previousActivityMainContentWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.previousActivityMainContentHeader {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.previousActivityHeaderName {
  font-weight: bold;
}

.previousActivityMainContentFooterWrapper {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  color: #5e6c84;
}

.previousActivityEditButton {
  cursor: pointer;
}

.previousActivityDeleteButton {
  cursor: pointer;
}

.previousActivitySpacer {
  padding: 0rem 0.2rem;
}

.commentBox {
  border: none;
  background-color: white;
  margin-left: 0.5rem;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
  font-family: inherit;
  font-size: 0.75rem;
  color: rgb(68, 68, 68);
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.068);
}

.commentBox:hover {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.185);
}
