.buttonWrapper {
    padding: 0.2rem 0rem;
}

.buttonWrapper button {
    border: none;
    width: 100%;
    background-color: #f77f00;
    color: white;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    font-weight: 700;
}
.buttonWrapper button:hover{
    background-color: #cc6c05;
}