.notEditingWrapper {
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  height: fit-content;
  width: 250px;
  flex: none;
  color: rgb(33, 43, 54);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1rem 0rem;
  border: 1px solid rgba(145, 158, 171, 0.32);
}

.notEditingWrapper:hover {
  background-color: rgba(145, 158, 171, 0.08);
}

.editingModeWrapper {
  border: 1px solid rgba(145, 158, 171, 0.32);
  background-color: rgba(145, 158, 171, 0.08);
  padding: 1rem 1rem;
  border-radius: 5px;
  height: fit-content;
  width: 250px;
  flex: none;
}

.editingModeWrapper input {
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem 0.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: inherit;
}
.editingModeWrapper input:focus {
  outline: none;
}

.addButton {
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 3px;
  background-color: rgb(124, 124, 255);
}

.addButton:hover {
  background-color: blue;
}

.cancelButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-left: 2rem;
  color: rgb(75, 75, 75);
}

.cancelButton:hover {
  color: black;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-start;
}
